<div class="row justify-content-center">
  <div class="col-md-3" *ngFor="let e of list; let i=index">
    <mat-card>
      <p>{{e.titre}}</p>
      <div class="col-md-12" [routerLink]="['/detail', e.id]">
        <img [src]="e.imageUrl" alt="" srcset="">
      </div>
      <div class="actions">
        <button mat-icon-button [routerLink]="['/update', e.id]" color="primary">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(e.id)" color="warn">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
