
<mat-card>
  <h4>{{o.name}}</h4>
    <div class="row">

      <div class="col-md-4">
        <img [src]="o.url" alt="" srcset="">
      </div>

      <div class="col-md-8">

        <h5>Categorie</h5>
        <p>{{o.type}}</p>

        <hr>
        <h5>Durée</h5>
        <p>{{o.duration}}</p>
        <hr>
        <h5>Nb de personnes</h5>
        <p>{{o.serving}}</p>
      </div>
    </div>

    <div class="actions">
      <button mat-raised-button [routerLink]="['/list']" color="accent" type="button">Retour</button>
    </div>
</mat-card>

