
<mat-card>
  <h4>{{o.titre}}</h4>
    <div class="row">

      <div class="col-md-4">
        <img [src]="o.imageUrl" alt="" srcset="">
      </div>

      <div class="col-md-8">

        <h5>Description</h5>
        <p>{{o.description}}</p>

        <hr>
        <h5>Ingredients</h5>
        <p>{{o.ingredients}}</p>
        <hr>
        <h5>Etaps</h5>
        <p>{{o.etaps}}</p>
      </div>
    </div>

    <div class="actions">
      <button mat-raised-button [routerLink]="['/list']" color="accent" type="button">Retour</button>
    </div>
</mat-card>

